.regitrationcardheader,
        .navbar,
        .navbar-ul>li>a {
            background-color: indigo !important;
            /* background-color: rgb(131, 8, 14) !important; */
            color: whitesmoke !important;
            opacity: 80%;
            
        }

        .logo{
            color: whitesmoke !important;
        }

        .navbar-toggler {
            
            background-color: whitesmoke !important;
        }  

        .fa-eye:hover {
            color: orangered !important;
        }

        .fa-pencil-square-o:hover {
            color: orangered !important;
        }

        .fa-trash:hover {
            color: orangered !important;
        }

        span.navbar-toggler-icon {
            color: indigo !important;
        }

        .link{
            color: whitesmoke !important;
        }
        /* padding-left: 4px; */

        .regitrationcardbody>form>.row>.col-md-6>input {
            color: indigo !important;
            box-shadow: 0 0 0 0.1px rgb(191, 184, 196)!important;
        }
        
        .footerheader{
            background-color: indigo !important;
            color: whitesmoke !important;
            opacity: 80%;
            border-bottom-right-radius: 50px !important;
        }
.allbtn {
            background-color: rgb(90, 14, 145) !important;
            color: whitesmoke !important;
            opacity: 80%;
            margin-left: 0px !important;
            width: 100% !important;
        }

        .allbtn1{
            background-color: rgb(90, 14, 145) !important;
            color: whitesmoke !important;
            opacity: 80%;
        }

        .allbtn1:hover {
            background-color: whitesmoke !important;
            color: rgb(90, 14, 145) !important;
            font-weight: bold;
            border: 1px solid indigo;
            opacity: 80%;
        }

        .allbtn2{
            background-color:rgb(90, 14, 145) !important;
            color: white !important;
            border-color: whitesmoke !important;
        }

.allbtn:hover {
            background-color: whitesmoke !important;
            color: rgb(90, 14, 145) !important;
            font-weight: bold;
            border: 1px solid indigo;
            opacity: 80%;
            margin-left: 0px !important;
            width: 100% !important;
        }

        .required {
            color: rgb(240, 151, 200);
        }

        input:focus,
        #name:focus,
        #email:focus,
        #password:focus,
        #password-confirm:focus {
            box-shadow: none !important;
            box-shadow: 0 0 0 2px rgb(196, 159, 223) !important;
        }

        .mastercard {
            border-bottom-right-radius: 50px !important;
            border-top-left-radius: 50px !important;
            border-top-right-radius: 50px !important;
            border-bottom-left-radius: 10px !important;
        }

        .resetheadercard {
            background-color: indigo !important;
            color: whitesmoke !important;
            opacity: 80%;
            border-top-left-radius: 23px !important;
        }

        .registertext {
            color: indigo !important;
            
        }

        .field-icon{
            position: relative;
            float: right !important;
            margin-top: -27px !important;
            margin-right: 10px !important;
            color: indigo !important;
            z-index: 1;
            cursor: pointer;
        }

        .cat:hover{
            color: goldenrod !important;
            text-decoration: none !important;
            padding-left: 5px !important;
        }

        .allbtnreset {
            background-color: rgb(90, 14, 145) !important;
            color: whitesmoke !important;
            opacity: 80%;
            margin-left: 0px !important;
            width: 100% !important;
            border-radius: 18px !important;
        }
        
        .allbtnreset:hover {
            background-color: white !important;
            color: rgb(90, 14, 145) !important;
            font-weight: bold;
            border: 1px solid indigo;
            opacity: 80%;
            border-radius: 18px !important;
        }
        
        .resetbordercard {
            border: 1px solid;
            border-bottom-right-radius: 23px !important;
            border-top-left-radius: 23px !important;
        }

        .resetinput {
            border-radius: 18px !important;
        }
        